.img-beneficios {
    width: 60%; 
    box-shadow: 10px 20px 30px 40px #000000;
}

/* 
*    10px -> Deslocamento horizontal da sombra.
*    20px -> Deslocamento vertical da sombra.
*    30px -> Esfumaçamento da sombra (transparência).
*    40px -> Intensidade da borda.    
*    #000000 -> Cor da sombra.
*/

.img-beneficios {
    width: 60%; 
    box-shadow: 10px 20px 30px 40px #000000, 20px 60px yellow, 25px 20px rgba(255,0,0,0.5);
}

/*
*    É possível adicionar diversas sombras ao mesmo elemento (Acima).
*/

.img-beneficios {
    width: 60%; 
    box-shadow: inset 10px 20px 30px #000000;
}

/*
*    A propriedade "inset" faz com que a sombra torne-se interna ao elemento.
*    10px -> Refere-se ao eixo X.
*    20px -> Refere-se ao eixo Y.
*    30px -> Refere-se ao espaçamento(tamanho) da sombra.
*/