.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 30px 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}

/*

O exemplo acima apresenta 3 "li" com tamanho de 30% cada (90%) + margins de 1,5% (9%) = 99% da pagina. Nesse contexto, ao aplicar o padding, o navegador considera como um aumento de tamanho das "lis", ultapassando o limite da pagina e realocando o ultimo item para linha seguinte. O "box-sizing: borde-box" faz com que o navegador considere que padding esta dentro do percentual definido para a li, deixando todos na mesma linha.

*/