.img-beneficios {
    width: 60%; 
    box-shadow: 10px 20px 30px 40px #000000;
}

/* 
*    10px -> Deslocamento horizontal da sombra:
*    20px -> Deslocamento vertical da sombra:
*    30px -> Esfumaçamento da sombra (transparência):
*    40px -> Intensidade da borda.    
*    #000000 -> Cor da sombra
*/

.img-beneficios {
    width: 60%; 
    box-shadow: 10px 20px 30px 40px #000000, 20px 60px yellow, 25px 20px rgba(255,0,0,0.5);
}

/*
*    No exemplo acima adicionamos diversas sombras no mesmo elemento:
*/

.img-beneficios {
    width: 60%; 
    box-shadow: inset 10px 20px 30px #000000;
}

/*
*    Quando adicionamos o "inset", a sombra passa a ser interna ao elemento. Onde "10px" refere-se
*    ao eixo X, "20px" refere-se ao eixo Y e "30px" refere-se ao espaçamento(tamanho) da sombra.
*/