.utensilios {
    width: calc(40% - 26px);
    margin: 0 auto;
}

.utensilios {
    width: calc(40% - (26px * 4));
    margin: 0 auto;
}

.utensilios {
    width: calc(40% - ((26px * 4) / 4));
    margin: 0 auto;
}

/*
*   É possível calcular o tamanho de um elemento diretamente no css.
*
*   Exemplo: Como usar as medidas proporcionais para deixar um elemento de 100% de largura com
*   o equivalente a um terço menos 10px do seu elemento pai?
*/

/*  Forma 01 */
.utensilios {
    width: calc(33% - 10px);
}

/*  Forma 02  */
.utensilios {
    width: calc((100% / 3) - 10px);  
}      