header {
    display: block; /* Permite somente 1 item por linha*/
    display: inline; /* Permite mais de 1 item por linha, porém não permite alterar espaçamentos*/
    display: inline-block; /* Permite mais de 1 item por linha e permite alterar seus espaçamentos*/
}

/*
*    display: block -> Permite somente 1 item por linha
*    display: inline -> Permite mais de 1 item por linha, porém não permite alterar espaçamentos
*    display: inline-block -> Permite mais de 1 item por linha e permite alterar seus espaçamentos.
*    
*    Lembrando que, quando quisermos utilizar 100% da largura de um elemento, é necessário  definir os elementos
*    com as dimensões que somem 100% e remover todo espaçamento existente entre as tags no HTML, pois ao utilizar
*    o inline-block, o CSS interpreta até os espacamentos vazios entre as divs.               
*/
