img {
    display: none;
    visibility: hidden;
    
    position: absolute;
    left: 9999px;

    opacity: 0;
}
/* 
*    "Display:none" -> O elemento fica escondido e não ocupa espaço no conteúdo.
*    "visibily:hidden" -> O elemento fica escondido, porém continua ocupando espaço no conteúdo.
*    "position: absolute / left: 9999px" -> Desloca o elemento para fora da página.
*    "opacity: 0" -> O elemento fica sem opacidade (transparente).
*/

.pular-navegacao,
.pular-navegacao:active,
.pular-navegacao:focus,
.pular-navegacao:hover {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 1px;
    height: 1px;
    color: transparent;
    position: absolute;
}