img {
    width: 130px;
    float: left;
}

p {
    font-size: 1em;
}

h2 {
    text-align: center;
    font-size: 2em;
    clear: left;
}

/* 

    No exemplo acima temos uma imagem com um paragrafo e, logo em seguida, um titulo (h2). Queremos que a imagem fique localizada do lado esquerdo e o paragrafo fique ao redor da imagem, sem que haja sobreposicao, devemos utilizar o float. Porem, o float atinge todo o restante da estrutura da pagina. Para que isso nao ocorra, apos a utilizacao do float, devemos "limpar" essa flutuancao logo em seguida adicionando a propriedade "clear", neste caso, adicionamos ao titulo (h2) pois vem logo apos a imagem e paragrafo.

*/