.imagem {
    width: 100vw;
    max-width: 600px;

    height: 100vh;
    max-height: 600px;
}

/* 
*    A imagem ocupará 100% da largura da tela (viewport width).
*
*    Vale ressaltar que, caso a tela fique muito grande, a imagem tende a acompanhar esse crescimento, ficando
*    distorcida e/ou desproporcinal ao conteúdo, por isso, devemos limitar o tamanho dessa imagem com uma unidade de medida fixa(px).
*/