@media (width: 610px) {
    main {
        background-color: red;
    }    
}

/* 
*    Essa media só vai existir quando o tamanho da tela for igual a 610px.
*/

@media (min-width: 610px) {
    main {
        background-color: red;
    }    
}
/* 
*    Essa media só vai existir quando o tamanho mínimo da tela for de 610px, ou seja, a partir de 610px ela vai existir.
*/

@media screen and (min-width: 610px) {
    main {
        background-color: red;
    }    
}

@media print and (min-width: 610px) {
    main {
        background-color: red;
    }    
}

/* 
*    Acima temos 2 implementações com diferentes "media types".
*        Com "screen", a media so vai existir com dispositivos que tenham tela.
*        Com "print", a media so vai existir com dispositivos de impressão.
*            Ex.: Quando for imprimir um boleto em um site, podemos programar para imprimir só o boleto e esconder todo o restante do site.
*/

/* 
*    Tamanhos de Tablets (padrão mais utilizado): 768px até 1024px.
*/