
.titulo-principal:before {
    content: "[ ";
}
/*
*    Cria um espaço em que o CSS pode ser usado antes do elemento, nesse caso, o conteúdo "[ "
*/

.titulo-principal:after {
    content: " ]";
}
/*
*    Cria um espaço em que o CSS pode ser usado depois do elemento, nesse caso, o conteúdo " ]"
*/

.cabecalho__perfil {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(img/profile2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} 
/* 
*    O código acima mostra uma imagem em um perfil de cabeçalho feita por pseudo-elemento, isto é, só foi declarada a
*    classe no HTML, sua implementação e a inclusão da imagem foi feita no CSS.
*    Lembrar sempre de declarar a propriedade "content", mesmo que ela esteja vazia.
*/