main > p {
    background: red; /* Seleciona somente os <p> filhos diretos do <main>. */
}

img > p {
    background: red; /* Seleciona somente o primeiro <p> após uma <img> (irmão). */
}

img ~ p {
    background: red; /* Seleciona todos os <p> após uma <img> (irmão). */
}

main p:not(#conteudo) {
    background: red; /*Seleciona todos os <p> que não tenham sido identificados como "conteúdo" (id=conteudo) no HTML.*/    
}

/* 
*    Exemplo:
*        <h2>
*        <section>
*            <h2>
*               <p>
*               </p>
*            <h2>
*
*    Como fazemos para selecionar o último <h2>?
*
*    section > p + h2    O último <h2> é filho direto da <section> e irmão do <p>.
*/