.enviar {
    width: 40%;
    margin: 20px 0;
    padding: 15px 0;
    background: orange;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    transition: 1s all;
}

.enviar:hover {
    background: black;
    transform: scale(1.2);
    transform: rotate(90deg);
}
/* 
*
*    Nesse exemplo de botão, existem duas transformações:
*        1- scale(1.2) -> Aumenta ou diminui proporcionalmente o botão na medida declarada.
*        2- rorate(90deg) -> Rotaciona o botão na medida declarada em graus (deg).
*    
*    OBS.: Nesse contexto, a segunda declaração (rotate) vai sobreescrever a primeira devido ao estilo de cascata do CSS.
*    Para aplicar as 2 transformações ao mesmo tempo, deve-se declara-las na mesma linha de códido:
*        
*        transform: rotate(90deg) scale(1.2);
*
*/