:root {
    --branco: #FFF;
    --azul-claro: #DFE3E5;
    --vermelho-forte: #B72E2E;
    --cinza-escuro: #4F4C4C;
    
    --planos-cartao-start: #56CCF2;
    --planos-cartao-ultra: #B04CD9;
    --planos-cartao-mega: #E33B3B;

    --montserrat: 'Montserrat', sans-serif; 
}

/* 
*    Podemos declarar variáveis no CSS para facilitar na digitação e deixar o código mais limpo.
*    Exemplo de declaração de variável: 
*        --variavel: valor;
*/