.imagem {
    width: 100%;
}
/*  A imagem vai ocupar 100% do espaço da div que ele estiver contida.  */

.imagem {
    width: 100vw;
}
/*  A imagem vai ocupar 100% da largura da tela (viewport width).  */

.imagem {
    height: 100vh;
}
/*  A imagem vai ocupar 100% da altura da tela (viewport heigth).  */

.imagem {
    width: 100vw;
    max-width: 600px;

    height: 100vh;
    max-height: 600px;
}
/* 
*    A imagem vai ocupar 100% da largura da tela (viewport width).
*
*    Vale ressaltar que, caso a tela fique muito grande, a imagem tende a acompanhar esse crescimento, ficando
*    distorcida ou desproporcinal ao conteúdo, por isso, devemos limitar o tamanho dessa imagem com uma unidade de medida fixa(px):
*/