.quadrado-1 {
background-color: blueviolet;
}

.quadrado-2 {
background-color: lightcoral;
left: 50px;
top: 50px;
z-index: 1;
}

.quadrado-3 {
background-color: lightgreen;
left: 100px;
top: 100px;
}

/* 
    O z-index define o nivel de profundidade de um elemento sobre o outro por ordem crescente, isso e', o elemento que tiver o maior valor ficara a frente dos outros (elementos que nao tenham o valor z-index declarados receberam valor auto (0) nessa propriedade.

    No exemplo acima, em uma situacao normal, o quadrado-1 ficaria a frente dos demais na tela, seguido do quadrado-2 e quadrado-3. Porem, quando adicionarmos a propriedade z-index=1 no quadrado-2, ele ficara a frente, seguido do quadrado-1 e quadrado-3.
*/