.menu__lateral {
    display: flex;

    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
}
/*
    Direcao que o flex container vai seguir:
        flex-direction: row; -> Conteudo ficara em linha (valor padrao)
        flex-direction: row-reverse -> Conteudo ficara em linha (reverso)
        flex-direction: column -> Conteudo ficara em coluna
        flex-direction: column-reverse -> Conteudo ficara em coluna (reverso)
*/

/*
    Ao inverter a posicao de linha pra coluna, os atributos justify-content e align-items tambem tem suas posicoes (vertical e horizontal) invertidas.
*/