.menu__lateral {
    display: flex;

    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
}
/*
*    Direção que o flex container vai seguir:
*        flex-direction: row; -> Conteúdo ficará em linha (valor padrão).
*        flex-direction: row-reverse -> Conteúdo ficará em linha (reverso).
*        flex-direction: column -> Conteúdo ficará em coluna.
*        flex-direction: column-reverse -> Conteúdo ficará em coluna (reverso).
*/

/*
*    Ao inverter a posição de linha para coluna, os atributos justify-content e align-items
*    também tem suas posições (vertical e horizontal) invertidas.
*/