.conteudo {
     display: flex;
     justify-content: center;
     align-items: flex-start;
}

.conteudo__item {
    height: 100%;
    width: 100vw;
    flex: 0 1 auto;
}

/*
*     Display flex só aplica relação entre os elementos pai e os filhos. Não são aplicadas para
*     elementos mais abaixo na hierarquia.
*
*     Se não for declarada uma altura para o flex container, sua altura será definida pela altura
*     dos elementos filhos (flex-itens).
*/

/*
*     Comportamento padrão dos flex-itens:
*          justufy-content: flex-start -> começa a partir da borda inicial do flex container.
*          flex wrap: nowrap -> Não quebra a linha automático.
*          itens não se expandem para ocupar a dimensão total do eixo principal.
*          itens se expandem para ocupar a dimensão total do eixo transversal.
*          
*     Não devemos utilizar as propriedades float, vertical-align, margin auto no flex item.
*
*     A propriedade "flex: 0 1 auto" no item do flex container é uma propriedade que condensa
*     várias propriedades em uma só. Por padrão, ele vem da forma disposta acima e faz com que os
*     itens ocupem só o espaço disponível e não cresçam, só encolhem.
*
*     0 -> representa o flex-grow que define o quando cada item pode crescer.
*     1 -> representa o flex-shrink que define o quando cada item pode encolher.
*     auto -> Representa o flex-bases que define a largura padrão dos itens.
*      -Se alterarmos para 25% no flex-bases, por exemplo, a linha de conteúdo vai conter 4 itens.
*/