.itens {
    display: flex;

    flex-wrap: wrap;
    flex-wrap: nowrap;
}
/* 
*    Flex-wrap: nowrap -> Não quebra linha, independente do espaço ocupado pelos itens (padrão).
*    Flex-wrap: wrap -> Acontece a quebra de linha caso o tamanho dos itens ultrapasse o tamanho
*    do flex container.
*/