.cabecalho {
    display: flex;

    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;
}
/*
    flex-start -> Todos os elementos ficam no inicio do flex container (esquerda). (Valor padrao)
    flex-end -> Todos os elementos ficam no final do flex container (direita).
    center -> Todos os elementos ficam centralizados e o restante do espaco e' distribuido nas laterais.
    space-around -> Distribui os elementos com espacamentos iguais para cada elemento (espacamentos entre os elementos sao dobrados).
    space-evenly -> Distribui os elementos com espacamentos iguais entre eles. (com espacamentos nas bordas)
    space-between -> distribui os elementos com espacamentos iguais entre eles. (sem espacamentos nas bordas).
*/

/*
    Importante lembrar que as propriedades justify-content e align-items apenas movimentam as tags filhas diretas do flex container.
*/