.cartao__conteudo {
    display: grid;

    gap: 8px;
    row-gap: 8px;
    column-gap: 16px;
}
/* 
*    A propriedade "gap" cria um espaçamento entre os itens contidos no grid container.
*    O comportamento do gap é parecido com o do justify-content: space-between, ele cria o espaço
*    somente entre os elementos, deixando os elementos das bordas sem os espaçamentos. O gap
*    quando usado, pode substituir a utilização do margin e padding (que fariam esse trabalho de
*    espaçamento). A variação dessa propriedade pode ser:
*        gap -> Cria espaçamentos de mesmo valor nas linhas e colunas.
*        row-gap -> Cria espaçamentos apenas entre linhas.
*        Column-gap -> Cria espaçamentos apenas entre colunas.
*/