.cartao__conteudo {
    display: grid;

    justify-content: flex-start;
    align-items: center;

    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 100px;
}
/* 
    O display grid container vai utilizar as mesmas propriedades do justify-content e align-items, porem, vao ser utilizados no grid mais para alinhamento dos itens. O grid container contem duas propriedades adicionais: grid-templete-columns e grid-template-rows. Ele tambem oferece uma nova unidade de medida: fracoes (fr). O codigo abaixo divide os conteudos dos elementos da mesma forma citada acima, so que utizando a unidade de medida fracao (fr).
*/

.cartao__conteudo {
    display: grid;

    justify-content: flex-start;
    align-items: center;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}
/* 
    Por padrao, o grid vai distribuir os elementos por linhas ou colunas (1 elemento para cada linha/coluna). Porem, ele tambem permite que 1 elemento utilize varias linhas/colunas, para isso, utilizamos a propriedade grid-columns ou grid-rows direto no elemento filho do grid container que queremos que apresente esse comportamento.
*/

.cartao__conteudo {
    display: grid;

    justify-content: flex-start;
    align-items: center;

    grid-template-columns: auto 300px;
}
/* 
    A primeira coluna esta utilizando o atributo "auto" na definicao, com isso, a coluna vai se ajustar automaticamente ao elemento de maior tamanho na primeira coluna do grid container.
*/

.cartao__conteudo {
    display: grid;

    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3, auto);
}
/* 
    Nessa situacao, queremos dividir o conteudo em 3 colunas ajustaveis ao item, para nao precisar codar "auto auto auto", utilizamos o atributo "repeat" seguido da quantidade de repeticoes e seu valor.
*/

.cartao__conteudo {
    display: grid;

    grid-template-columns: auto 1fr auto;
}
/* 
    Nessa implementacao, o conteudo sera divido em 3 partes sendo a primeira e a ultima ajustaveis ao item e o espaco restante vai ficar na coluna do meio.
*/