.cartao__conteudo {
    display: grid;

    justify-content: flex-start;
    align-items: center;

    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 100px;
}
/* 
*    O display grid container vai utilizar as mesmas propriedades do justify-content e align-items,
*    porém, elas serão utilizados no grid mais para alinhamento dos itens. O grid container contém
*    duas propriedades adicionais: grid-templete-columns e grid-template-rows. Ele também oferece
*    uma nova unidade de medida: frações (fr). O código abaixo divide os conteúdos dos elementos da
*    mesma forma citada acima, só que utilizando a unidade de medida fração (fr).
*/

.cartao__conteudo {
    display: grid;

    justify-content: flex-start;
    align-items: center;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}
/* 
*    Por padrão, o grid vai distribuir os elementos por linhas ou colunas (1 elemento para cada
*    linha/coluna). Porém, ele também permite que 1 elemento utilize várias linhas/colunas, para
*    isso, utilizamos a propriedade grid-columns ou grid-rows direto no elemento filho do grid
*    container que queremos que apresente esse comportamento.
*/

.cartao__conteudo {
    display: grid;

    justify-content: flex-start;
    align-items: center;

    grid-template-columns: auto 300px;
}
/* 
*    A primeira coluna está utilizando o atributo "auto" na definição, com isso, a coluna vai se
*    ajustar automaticamente ao elemento de maior tamanho na primeira coluna do grid container.
*/

.cartao__conteudo {
    display: grid;

    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3, auto);
}
/* 
*    Nessa situação, queremos dividir o conteúdo em 3 colunas ajustáveis ao item, para não precisar
*    colar "auto auto auto", utilizamos o atributo "repeat" seguido da quantidade de repetições e seu
*    valor.
*/

.cartao__conteudo {
    display: grid;

    grid-template-columns: auto 1fr auto;
}
/* 
*    Nessa implementação, o conteúdo será dividido em 3 partes, sendo a primeira e a última
*    ajustáveis ao item e o espaço restante vai ficar na coluna do meio.
*/