.principal {
    display: grid;
    grid-template-areas: 
        "titulo-pagina titulo-pagina titulo-pagina"
        "destaque-video destaque-video videos-recentes"
        "secao-videos secao-videos secao-videos"
        "produtos-recentes destaque-produtos destaque-produtos"
        "secao-produtos secao-produtos secao-produtos"       
    ;
}

.principal_item {
    grid-area: titulo-pagina;
}

.principal_item2 {
    grid-area: destaque-resentes;
}

.principal_item2 {
    grid-area: destaque-video;
}
/* 
*    A propriedade grid-área serve para estruturar o layout de um grid container. É preciso
*    declarar o layout no grid principal (grid-template-areas), escolher nomes para as áreas e
*    inserir em cada item (grid-area). Essa utilização facilita a manutenção do código no futuro
*    pois, se quisermos mudar a disposição dos itens, não precisamos entrar manualmente em todos e
*    alterar suas posições(grid-row/grid-column), só precisamos alterar a ordem no
*    grid-template-areas.
*
*    Layout do grid-template-areas:
*
*    "col1 col2 col3 col4"
*    "col1 col2 col3 col4"
*    "col1 col2 col3 col4"
*/