/*
    Casa item dentro do grid container pode ocupar divisoes pre estabelicidas de acordo com propriedades aplicadas a eles.
*/

.cartao__item {
    font-size: 1,2rem;

    grid-column: span 3;
    grid-row: span 3;
}
/*     
    O "Span" agrupara fracoes que o item ira ocupar. Fazendo uma analogia ao excel, e' como se estivessemos mesclando 3 celulas.
*/

.cartao__item {
    font-size: 1,2rem;

    grid-column: 1;
    grid-row: 3;
}
/*     
    As propriedades acima "Span" definim em qual divisao o conteudo do item ira comecar/ocupar. No exmplo acima, o conteudo ira ocupar a coluna 1 da terceira linha.
*/

.cartao__item {
    font-size: 1,2rem;
    
    /*grid-row: 3; */
    /*grid-row: span 2; */
    grid-row: 1 / span 2;
}
/*
    Suponha que o item deva iniciar na linha 1 e ocupar 2 linhas, ao inves de declarar 2 "grid-row", podemos declar os dois atributos ao mesmo tempo, separando com uma barra "/".
*/
/* 
    Se o o grid container estiver muitas divisoes de conteudo, o precesso de inserir o inicio do container que o item ira ocupar pelos grid-row e grid-column fica muito trabalhoso e arriscado. Nesses casos remenda-se utilzar grid-area pois facilita na manutencao futura do codigo.
*/